DOCKER_IMAGE_NAMESPACE=atridayo
SEATSHEET_IMAGE_TAG=latest
FRONTEND_PORT=8080
POSTGRES_PASSWORD=change_this_password
ADMIN_PASSWORD=change_this_admin_password
CORS_ORIGIN=https://seats.atridayo.com,https://seats-config.atridayo.com
